
main{

  font-family: Helvetica Neue, sans-serif;


    .woocommerce-products-header{
        background-color: transparent;
    }


  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //margin: 1rem 2rem 1rem 2rem;


    top: 1720px;
    padding: 56px 160px 56px 160px;
    gap: 32px;

  }


       li.product {
         width: calc(20% - 10px);
         //padding: 20px;
         margin: 5px;
         box-sizing: border-box;
         border: 1px solid rgba(0, 0, 0, 0.1);
         box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
         background-color: #F6F6F6;
         border-radius: 9px;
         list-style: none;
         height:432px;
         padding: 24px 16px 24px 16px;
         gap:16px;

         align-items: center;
         justify-content: center;

         .add_to_cart_button{
           width: 183px;
           height: 48px;
           /*padding: 12px 64px 12px 64px;*/
           border-radius: 8px;
           gap: 8px;
           background-color:black;
           color:white;
           display:flex;
           align-items: center;
           justify-content: center;
           cursor: pointer;

         }

         a {
           position: relative;
           display: block;
           text-decoration: none;
           font-size: 16px;
           font-weight: 500;
           line-height: 24px;
           letter-spacing: 0em;
           text-align: center;
           color: #000000;

           h2{
             font-size: 16px;
             font-weight: 500;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: center;
             color: #000000;


           }

           .price{
             color: #000000;
             font-size: 24px;
             font-weight: 600;
             line-height: 24px;
             letter-spacing: 0.03em;
             text-align: center;


           }


           img {
             width:160px;
             height:160px;
           }
         }

       }

}