@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





//Fonts
$font: "Poppins", sans-serif;


// Font-colors
$primary-font-color: #000000;
$secondary-font-color: #white;
$tertiary-font-color: #CFCFCF;
$quaternary-font-color: #787878;



// Colors

$white: #FFFFFF;
// main black
$main-color: #000000;
$primary-color: #00c2ff;
// charcoal
$secondary-color: #2E2E2E;
// light grey
$tertiary-color: #F6F6F6;






